# 1. Load your custom layout_uv function definitions
source_env .direnvrc.uv

# 2. Let uv know it's fine to use your global/system python to manage things
export UV_PYTHON_PREFERENCE=only-system

# 3. Trigger the layout (this will handle setting VIRTUAL_ENV and updating your PATH)
layout uv